body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: purple;
}

#cabecalho .nav .nav-link.active {
    background-color: white;
    color: blue;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-catalogo .nav-link.active:hover,
.title-icon {
    color: white;
}

.navbar-toggler {
    background-color: blue;
}
.section-title {
    font-weight: bold;
    font-family: Roboto, sans-serif;
}
.text-colored {
    color: blue;
}
#sobre-a-loja, #catalogo{
    background-color: rgb(176, 66, 176);
}
.nav-servicos .nav-link.active,
#fale-conosco button {
    background-color: blue;
    color: #fff;
}
.nav-servicos .nav-link:hover {
    color: blue;
}
.social-links li{
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}
div.footer {
    border: grey;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}